.explore-missions {
    margin-top: 7rem;
    border: 2px solid red;
    /* height: 400px; */
    background-image: url("pictures/missions/galaxy.jpeg");
    /* background-size: cover; */
    color: white;
}

.explore-missions h1 {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75rem;
    font-size: 5.5vw;
}
#time-line-text {
    font-size: 4vw;
    margin-left: 10vw;
    border: 2px solid red;
    /* margin-top: 5rem; */
}

.time-line-middle {
    background-color: #D0AAAA;
    height: 100%;
    width: 2.5vw;
    /* margin-top: 2vh; */
}

.time-line {
    /* align-items: center; */
    margin-top: 2em;
    /* margin-left: 7em; */
    /* margin-right: 10em; */
    border: 2px solid red;
    display: grid;
    grid-template-columns: 35% 10px 60%;
    /* font-family: 1vw; */
}

.time-line div {
    /* border: 2px solid red; */
    font-size: 3vw;
}

.missions-links img {
    width: 5vw;  
}

.time-line-left,
.missions-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
}

/* .missions-links div  */
.missions-links {
    gap: 2rem;
    /* margin-left: -3rem; */
}
.missions-links div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    margin-top: -0.5em;
}

.missions-links button {
    background-color: #D0AAAA;
    border-radius: 16px ;
    padding: 0.2em 2.7em;
    font-size: 3vw;
    width: 40vw;
}
.missions-links a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 700px) {
    .missions-links button { 
        width: 35vw;
    }
    .explore-missions h1 {
        font-size: 4.5vw;
    }
    #time-line-text {
        font-size: 3.4vw;
    }
    .missions-links {
        gap: 1rem;
    }
    .explore-missions h1 {
        margin: 0 0;
    }
}

