.explore-missions {
    margin-top: 7rem;
    border: 2px solid red;
    /* height: 400px; */
    background-image: url("pictures/missions/galaxy.jpeg");
    /* background-size: cover; */
    color: white;
}

.explore-missions h1 {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75rem;
    font-size: clamp(1rem, 2.5vw, 3rem);
}
#time-line-text {
    font-size:  3vw;
    margin-left: 10vw;
    border: 2px solid red;
    /* margin-top: 5rem; */
}

.time-line-middle {
    background-color: #D0AAAA;
    height: 100%;
    width: 2.5vw;
    /* margin-top: 2vh; */
}

.time-line {
    /* align-items: center; */
    margin-top: 2em;
    /* margin-left: 7em; */
    /* margin-right: 10em; */
    border: 2px solid red;
    display: grid;
    grid-template-columns: 35% 10px 60%;
}

.time-line div {
    /* border: 2px solid red; */
    font-size: 3vw;
}

.missions-links img {
    width: 5vw;  
}

.time-line-left,
.missions-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
}

.missions-links {
    gap: 2rem;
    /* margin-left: -3rem; */
}
.missions-links div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    margin-top: -0.5em;
}

.missions-links button {
    background-color: #D0AAAA;
    border-radius: 16px ;
    padding: auto;
    font-size: clamp(1rem, 2.5vw, 3rem);
    width: 35vw;
    padding: 0.1em 0;
}
.missions-links a {
    text-decoration: none;
    color: black;
}

.historical-missions {
    margin-top: 2rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.historical-missions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid green;
    margin: 0 auto;
    padding: 2vw;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 270px;
    height: 270px;
}

    
    

.historical-missions p {
    font-family: 600;
    line-height: 1.4em;
    /* margin: 0 5rem; */
}

.hist-missions h3{
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-family: 700;
    font-size: 2rem;
}

@media screen and (min-width: 700px) {
    /*.missions-links button { 
        width: 35vw;
    }
    .explore-missions h1 {
        font-size: 4.5vw;
    }
    #time-line-text {
         font-size: 3.4vw;
    }*/
    
    .missions-links {
        gap: 1rem;
    }
    .explore-missions h1 {
        margin: 0 0;
    }

    .historical-missions {
        flex-direction: row;
        justify-content: space-around;
        /* gap: 5rem; */
    }
}
