
.explore-missions {
    margin-top: 7rem;
    /* border: 2px solid red; */
    /* height: 400px; */
    background-image: url("pictures/missions/galaxy.jpeg");
    /* background-size: cover; */
    color: white;
}

.explore-missions h1 {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75rem;
    font-size: 5vw;   /*fixed*/
}
#time-line-text {
    font-size:  1.2rem;
    margin-left: 10vw;
    /* border: 2px solid red; */
    /* margin-top: 5rem; */
}

.time-line {
    margin-top: 2em;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 25% 10px 60%;
}

.time-line-middle {
    background-color: #D0AAAA;
    height: 100%;
    width: 2.5vw;
}

.missions-links img {
    width: 5vw;  
}

.time-line-left,
.missions-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
}

.missions-links {
    gap: 2rem;
}
.missions-links div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    margin-top: -0.5em;
}

.missions-links button {
    background-color: #D0AAAA;
    border-radius: 16px ;
    padding: auto;
    font-size: 0.9rem;
    width: 40vw;
    /* padding: 0.1em 0; */
}

.time-line-left p {
    font-size: 1rem;
}

.missions-links a {
    text-decoration: none;
    color: black;
}

/* ====================2nd */

.section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.section-title img {
    width: 30px;
    height: 30px;
    /* border: 2px solid red; */
}

.missions-cards {
    margin-top: 2rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.missions-cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* border: 2px solid green; */
    margin: 0 auto;
    padding: 2vw;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 270px;
    height: 270px;
}

    
    

.missions-cards p {
    font-family: 600;
    line-height: 1.4em;
    /* margin: 0 5rem; */
}

section div h3 {
    font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
    /* adjust fonts  */
    section div h3 {
        font-size: 2.3rem;
    }
    .explore-missions h1 {
        font-size: 2.7rem;
    }
    .missions-links button {
        font-size: 2.5vw;
    }
    .time-line-left p {
       font-size: 2rem;
    }
    .missions-links {
        gap: 1rem;
    }
    #time-line-text {
       font-size: 2rem;
    }

    .explore-missions h1 {
        margin: 0 0;
    }

    .missions-cards {
        flex-direction: row;
        justify-content: space-around;
        /* gap: 5rem; */
    }
}
